// background general
body{
	background-color: #F0B851;
	background-image: url("../img/background.jpg");
	background-position: center;
	background-repeat: no repeat;
	background-size: cover;
	background-attachment: fixed;
}
header{
	background: url(../img/header1.jpg);
	background-repeat: no repeat;
	background-size: cover;
	background-position: center;
	height: 40vh;
}
// color backgrounds
.backgroundBlue{
background-color: #D4E1F4;
}
.backgroundOrange{
	background-color: #F0B851;
}
.backgroundPink{
	background-color: #EDB5B5;
}
.backgroundLightblue{
	background-color: #C8D8EF;
}
.lightorange{
	background-color: #F0B851;
}
// fonts
.fontFamily{
	font-family: 'ABeeZee', sans-serif;
}
// headers
h1{
	font-family: $font-main;
	font-size: $fontSizeBig;
	font-weight: $fontBold;
}
h2{
	font-family: $font-main;
	font-size: $fontSizeMedium;
	font-weight: $fontBold;
}
h3{
	font-family: $font-main;
	font-size: $fontSizeMedium;
	font-weight: $fontBold;
	letter-spacing: 0.2rem;
}
h4{
	font-size: $fontSizeSmall;
	font-family: $font-main;
	font-weight: $fontRegular;
}
// paragraphs
p{
	color: $tx-black;
	font-size: 1.2rem;
	font-family: $font-main;
}
span{
		letter-spacing: 0.5rem;
		color: grey;
	}
// section HOME
// section free space
.freespace{
	background-image: url("../img/background.jpg");
	background-position: center;
	background-repeat: no repeat;
	background-size: cover;
	height: 70vh;
	background-attachment: fixed;
}

// button SHOP
.button{
	letter-spacing: 0.6rem;
}
.button:hover{
	cursor: pointer;
	text-decoration: none;
}
// comments
.spacing{
	letter-spacing: 0.6rem;
}
// galery
.container.gallery-container {
    background-color: rgba(114, 167, 204,0.5);
    color: #C8D8EF;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}
.tz-gallery img {
    border-radius: 4px;
}
// section HOW TO USE
.rotate{
	transform: rotate(180deg);
}
.margin{
	margin-bottom: 10px;
}
// section SHOP GALLERY WOTH LIGHTBOX
.galleryWithLightbox {
    background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 60px 0;
}

.container.gallery-container2 {
    background-color: rgba(114, 167, 204,0.5);
    color: #C8D8EF;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}
.gallery-container2 p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: black;
    font-size: 18px;
}

.tz-gallery2 {
    padding: 40px;
}

.tz-gallery2 .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.tz-gallery2 .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery2 img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

// section CONTACT
.transform:hover{
   transform: translate(10px, 10px);
   cursor:cursor;
}

label{
	font-family: $font-main;
}
.backgroundForm{
	background-color: rgba(114, 167, 204,0.5);
}
// media 
  @media only screen and (min-width: 430px) {
  header{
  	height: 70vh
  }
  }
  @media only screen and (min-width: 656px) {
  header{
  	height: 100vh;
  }
  }
  @media only screen and (min-width: 782px) {
  header{
  	height: 120vh;
  }
  }
    @media only screen and (min-width: 978px) {
  header{
  	height: 150vh;
  }
  }
  @media(max-width: 768px) {
    .container.gallery-container {
        border-radius: 0;
        padding: 0;
    }
}
@media(max-width: 768px) {
    .galleryWithLightbox {
        padding: 0;
    }

    .container.gallery-container2 {
        border-radius: 0;
    }
}

  
  