@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

$font-main: 'ABeeZee', sans-serif;

// Tamaños de fuente
$fontSizeSmall:0.90em;
$fontSizeMedium:1em;
$fontSizeBig:2em;

// Grueso de fuente
$fontRegular:400;
$fontBold:600;