nav{
	background-color:$bg-blue;

	ul{ 
		
		li{ 
			text-decoration: none;
		      
	        a{
			    text-transform:$textupper;
	            font-weight: $fontRegular;
	            font-family: $font-main;
	            font-size: 15px;
	        }
	    }
	}
}

a:hover{
	text-decoration: underline;
}

@media screen and (min-width: 768px){
	nav{
		word-spacing: 0.2rem; 
	}
}
@media screen and (min-width: 1024px){
	nav{ 
		ul{
			li{
				a{
					letter-spacing: 0.2rem;
					word-spacing: 0.5rem;
				}
			}
		}
	}
}

